body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-space {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-boards {
    display: flex;
    padding: 10px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 4px;
    margin-left: 25px;
    margin-right: 25px;
}

#player-pieces {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.game-pieces p {
    padding: 0;
    margin-bottom: 8px;
}

.game-piece {
    display: flex;
}

.player-piece {
    justify-content: flex-end;
}

.dummy-cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
    border: 1px dashed black;
}

.empty {
    background-color: #fff;
}

.ship {
    background-color: #555;
    color: #fff;
}

.miss {
    background-color: #3498db;
    color: #fff;
}

.hit {
    background-color: #555;
    color: #fff;
    outline: 2px solid #e74c3c;
}

#new-game-button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.placement-preview-valid {
    background-color: lightgreen;
}

.placement-preview-invalid {
    background-color: lightcoral;
}

.message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 150px;
    background-color: #1f1f1f; 
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', monospace;
    color: #00ff00;
    letter-spacing: 2px;
  }
  
  #message-text {
    padding: 10px;
  }